Reading/*
Admin/*
radmc-3d/*
Report/Interim/*
Code/simulations/curvefitting/sphdata/imgdump*
Code/simulations/curvefitting/sphdata/imgdump_old*

*.inp
*.out
*.ini
*.fits
*.dat
*.backup
*.log
*.pyc
*.vtk
*.docx
